<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/HOME_TASK?useSSL=false"/>
        <property name="username" value="HOME_TASK_USER"/>
        <property name="password" value="HOME_TASK_PASS"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
          scope="singleton">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>ru.ncedu.gorbatovskiy.model.Book</value>
                <value>ru.ncedu.gorbatovskiy.model.Customer</value>
                <value>ru.ncedu.gorbatovskiy.model.Store</value>
                <value>ru.ncedu.gorbatovskiy.model.Order</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>
    </bean>

    <bean id="bookDAO" class="ru.ncedu.gorbatovskiy.dao.BookDAO" scope="singleton" autowire="byType"
          destroy-method="closeSession"/>
    <bean id="storeDAO" class="ru.ncedu.gorbatovskiy.dao.StoreDAO" scope="singleton" autowire="byType"
          destroy-method="closeSession"/>
    <bean id="orderDAO" class="ru.ncedu.gorbatovskiy.dao.OrderDAO" scope="singleton" autowire="byType"
          destroy-method="closeSession"/>
    <bean id="customerDAO" class="ru.ncedu.gorbatovskiy.dao.CustomerDAO" scope="singleton" autowire="byType"
          destroy-method="closeSession"/>

    <bean id="daoFactory" class="ru.ncedu.gorbatovskiy.dao.DaoFactory" scope="singleton">
        <lookup-method name="getBookDAO" bean="bookDAO"/>
        <lookup-method name="getOrderDAO" bean="orderDAO"/>
        <lookup-method name="getStoreDAO" bean="storeDAO"/>
        <lookup-method name="getCustomerDAO" bean="customerDAO"/>
    </bean>

    <bean id="main" class="ru.ncedu.gorbatovskiy.Main" scope="singleton">
        <constructor-arg ref="daoFactory"/>
    </bean>
</beans>